<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Menu główne</title>
</head>
<body>
    <h1>Menu główne</h1>
    <button onclick="location.href='dashboard.html'">dashboard</button>
    <button onclick="location.href='documents.html'">documents</button>
    <button onclick="location.href='dowod.html'">dowod</button>
    <button onclick="location.href='logowanie.html'">logowanie</button>
    <button onclick="location.href='qr.html'">qr</button>
    <button onclick="location.href='uslugi.html'">uslugi</button>
    <button onclick="location.href='wiecej.html'">wiecej</button>
</body>
</html>
